.headerSection {
    background-image: url('/images/home_top_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: flex-end;
    max-width: var(--max-width);
    padding: 80px 24px;
}

.title {
    color: var(--main_light_color);
}

.subtitle {
    color: var(--main_light_color);
    max-width: 600px;
}

.button {
    width: 30%;
}

.menuPresentstionSection {
    display: flex;
    justify-content: center;
}

.menuPresentation {
    width: 100%;
    max-width: var(--max-width);
}

.footerWrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/footer_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    max-width: var(--max-width);
    color: var(--main_light_color);
}

.footerTitle {
    color: var(--main_middle_color);
}

.footerInfo {
    color: var(--main_light_color);
    text-decoration: none;
}

.footerLink :hover {
    color: var(--main_middle_color);
}




