.headerSection {
    background-image: url('/images/home_top_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.header {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: flex-end;
    padding: 80px 24px;

    @media (max-width: 1023px) {
        padding: 32px 24px;
    }
}

.title {
    color: var(--main_light_color);
}

.subtitle {
    color: var(--main_light_color);
    max-width: 600px;
}

.button {
    width: 30%;
    min-width: 150px;
}

.menuPresentation {
    width: 100%;
}






